mixin header(data)
    .header.container-fluid
        nav.header__navigation.main-navigation.row.justify-content-end.align-items-center
            a.main-navigation__img-link.col-md-auto.col-lg-auto.col-xl-auto(href="index.html")
                img.main-navigation__img(src="../static/img/content/logo.png" width=280 height=195 alt="LOGO")
            ul.main-navigation__list.col-md-auto.col-lg-auto.col-xl-auto.nav.nav-tabs
                li.main-navigation__item.nav-item
                    a.main-navigation__link.nav-link.active(href="#") HOME
                li.main-navigation__item.nav-item
                    a.main-navigation__link.nav-link(href="#") STYLE DEMO
                li.main-navigation__item.nav-item
                    a.main-navigation__link.nav-link(href="#") FULL WIDTH
                li.main-navigation__item.nav-item
                    a.main-navigation__link.nav-link(href="#") DROPDOWN
                li.main-navigation__item.nav-item
                    a.main-navigation__link.nav-link(href="#") GALLERY
