mixin header(data)
    .header.container-fluid
        nav.header__navigation.main-navigation.row.justify-content-between
            a.main-navigation__img-link.col-auto(href="index.html")
                img.main-navigation__img(src="../static/img/content/logo.png" width=280 height=195 alt="LOGO")
            ul.main-navigation__list.col-auto.row
                li.main-navigation__item.col-auto
                    a.main-navigation__link(href="#") HOME
                li.main-navigation__item.col-auto
                    a.main-navigation__link(href="#") STYLE DEMO
                li.main-navigation__item.col-auto
                    a.main-navigation__link(href="#") FULL WIDTH
                li.main-navigation__item.col-auto
                    a.main-navigation__link(href="#") DROPDOWN
                li.main-navigation__item.col-auto
                    a.main-navigation__link(href="#") GALLERY
