// Common styles of the project

html, body {
    height: 100%;
}

body {

    color: white;

    background-color: @back-color;
}

img {
    max-width: 100%;
    height: auto;
}

.pd-0() {
    padding: 0;
    margin: 0;
}
