// File for less-vars.
// For example: main colors, paddings and so on.

@back-color: #1f2531;
@feature: #b86365;
@feature-border: #e2e2e2;
@grey: #666666;
@grey-font: #989898;

@content: 1000px;
@content-lg: 952px;
@paddings: 20px;
