doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    include ../components/header/header.pug
    include ../components/header/header.pug
    include ../components/feature/feature.pug
    include ../components/benefit/benefit.pug
    include ../components/footer/footer.pug

    head
        +head(head.defaults)
    body
        +header()
        main.main.container-fluid
            section.main__promo.promo.row.justify-content-between
                .promo__intro.col-xs.col-sm.col-md.col-lg.col-xl
                    h1.promo__title Cursus penati saccum.
                    p.promo__desc
                        | This is a W3C standards compliant free PSD website template from OS Templates. This template is distributed using a Website Template Licence. For more free PSD templates visit
                        a.promo__desc_link(href="http://OS-Templates.com") OS-Templates.com
                    a.promo__link.btn.btn-secondary.btn-lg.active(href="#" role="button" aria-pressed="true")
                        | NOW AVAILABLE IN
                        br
                        | THE APP STORE
                .promo__image.col-xs.col-sm.col-md.col-lg-auto.col-xl-auto
                    img.promo__img(src="../static/img/content/promo.png" width=388 height=426 alt="Phone and Tablet")

            section.main__content.content.row
                section.content__features.features.col-sm-6.col-md-6.col-lg-6.col-xl-6.row.justify-content-center
                    +feature("FEATURE 1", "Justoid nonummy laoreet phasellent penatoque in ")
                    +feature("FEATURE 2", "Justoid nonummy laoreet phasellent penatoque in ")
                    +feature("FEATURE 3", "Justoid nonummy laoreet phasellent penatoque in ")
                    +feature("FEATURE 4", "Justoid nonummy laoreet phasellent penatoque in ")
                section.content__benefits.benefits.col-sm-6.col-md-6.col-lg-6.col-xl-6.row.justify-content-center
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                    +benefit("img-benefit.jpg", "Benefit Title Here", "Inteligula congue id elis donec sce sagittis intes id laoreet aenean. Massawisicondisse leo sem ac.")
                section.content__slider.slider.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12(id="slider" class="carousel slide" data-ride="carousel")
                    .slider__inner.carousel-inner
                        .slider__item.carousel-item.active
                            .slider__wrapper.row.justify-content-between.align-items-center
                                .slider__text.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                                    h1.slider__title SUBSCRIBE
                                    p.slider__desc Don’t Miss Our Latest Offers & Promotions
                                form.slider__form.form.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.form-row.align-items-center
                                    .col-10.col-sm-8.col-lg-8.col-xl-8
                                        label.form__label.visually-hidden(for="form__input1") Your Email
                                        input.form__input.form-control(type="email" id="form__input1" placeholder="Enter Your Email Here" aria-describedby="emailHelp")
                                    .col-auto.col-sm-auto.col-lg-auto.col-xl-auto
                                        button.form__button.btn.btn-primary(type="submit") SIGN UP
                        .slider__item.carousel-item
                            .slider__wrapper.row.justify-content-between.align-items-center
                                .slider__text.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6
                                    h1.slider__title SUBSCRIBE
                                    p.slider__desc Don’t Miss Our Latest Offers & Promotions
                                form.slider__form.form.col-12.col-sm-12.col-md-6.col-lg-6.col-xl-6.form-row.align-items-center
                                    .col-10.col-sm-8.col-lg-8.col-xl-8
                                        label.form__label.visually-hidden(for="form__input2") Your Email
                                        input.form__input.form-control(type="email" id="form__input2" placeholder="Enter Your Email Here" aria-describedby="emailHelp")
                                    .col-auto.col-sm-auto.col-lg-auto.col-xl-auto
                                        button.form__button.btn.btn-primary(type="submit") SIGN UP
                    a.slider__link.carousel-control-prev(href="#slider" role="button" data-slide="prev")
                        span.slider__icon.slider__icon_prev.carousel-control-prev-icon(aria-hidden="true")
                        span.sr-only Previous
                    a.slider__link.carousel-control-next(href="#slider" role="button" data-slide="next")
                        span.slider__icon.slider__icon_next.carousel-control-next-icon(aria-hidden="true")
                        span.sr-only Next

        +footer()

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous")
        script(src='%=static=%js/separate-js/svg4everybody.min.js')
        script svg4everybody();

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')
