mixin benefit(imgSrc, title, desc)
    .benefit.benefits__item.col-auto.col-sm-auto.col-md-auto.col-lg-auto.col-xl-auto.row
        img.benefit__image.col-auto.col-sm-auto.col-md-auto.col-lg-auto.col-xl-auto(src="%=static=%img/general/" + imgSrc)
        h1.benefit__title.col.col-sm.col-md.col-lg.col-xl= title
        p.benefit__desc.col-12.col-sm-12.col-md-12.col-lg-12.col-xl-12= desc
