.benefit {
    width: 200px;
    padding: 0;
    margin-right: 35px;

    color: @grey;
}

.benefit__image {
    padding: 0;
}

.benefit__title {
    align-self: center;

    width: 152px;
    padding: 0;
    margin-left: 10px;

    font-size: 14px;
    line-height: 16.8px;
    font-style: italic;
}

.benefit__desc {
    padding: 0;
    margin-top: 13px;

    font-size: 12px;
    line-height: 16.8px;
}
